/*Main Styles*/

/*Head styles*/

.masthead{
	height: 160px;
	background-color: beige;
	border: .2rem solid azure;
    margin: .4rem;
}
.masthead img{
	float: left;
	padding-top: 16px;
	padding-left: 16px;
}

.headertext{
	/*position: absolute;*/
    font-family: monospace;
    font-size: 2rem;
    text-align: center;
    padding-top: 31.6px;
    color: lightcoral;
}
.navmenu{
	float: left;
	margin: 1rem;
	width: 70%;
	height: 50px;
	background-color: aliceblue;
}
.navmenu li{
	display: inline-block;
    margin-left: 3.5rem;
    font-family: 'roboto';
    letter-spacing: 0.04rem;
    color: coral;
}
.navmenu .item0{
	padding-right: 3rem;
    margin-left: 1rem;
}
.sidemenu{
	background-color: lightblue;
	position: absolute;
    right: 50px;
	width: 300px;
	height: 800px;
	color: lightgrey;
}
.container{
	position: absolute;
    top: 18rem;
    left: 5.5rem;
}
.container button{
	border-radius: 1rem;
	background-color: bisque;
	color: cadetblue;
}
input {
	border-radius: 10px;
    width: 150px;
    padding-left: 1rem;
}
.total, .quantity, .price{
	width: 70px;
}
.productdescrip{
	position: relative;
	left: 250px;
}
.price{
	position: relative;
	left: 275px;
}
.quantity{
	position: relative;
	left: 305px;
}
.total{
	position: relative;
	left: 340px;
}
.apppend{
	position: absolute;
    left: 8rem;
    top: 22rem;
	display: inline-flex;
}
#error{
	margin-top: 20px;
}
