/*Main Styles*/

/*Head styles*/

.masthead{
	height: 160px;
	background-color: beige;
	border: .2rem solid azure;
    margin: .4rem;
}
.masthead img{
	float: left;
	padding-top: 16px;
	padding-left: 16px;
}

.headertext{
	/*position: absolute;*/
    font-family: monospace;
    font-size: 2rem;
    text-align: center;
    padding-top: 31.6px;
    color: lightcoral;
}
.tableheader{
    border: 1px solid burlywood;
    width: 100%;
    background-color: aliceblue;
}

.tableheader li{
	display: inline-block;
    margin-left: 3.5rem;
    font-family: 'roboto';
    letter-spacing: 0.04rem;
    color: coral;
}
.tableheader .item0{
	padding-right: 3rem;
    margin-left: 1rem;
}
.wrapper{
	border: 1px solid burlywood;
	width: 56%;
	margin-left: auto;
	margin-right: auto;
}

.tablecontent li{
	display: inline-block;
	padding-left: 3rem;
}
.tablecontent button{
	position: relative;
	right: 5rem;
	border-radius: 1rem;
	background-color: bisque;
	color: cadetblue;
}
input {
	border-radius: 1rem;
    width: 8rem;
    padding-left: 1rem;
}
.total, .quantity, .price{
	width: 4rem;
}
.tablerrors{
	margin-left: 3.5rem;
}

.tablerrors li{
	display: inline-block;
	margin-left: 3rem;
	color: red;
    font-family: cursive;
}
.shoplist li{
	display: inline-block;
	color: chocolate;
	padding-left: 8.5rem;
	width: 3%;
}
.shoplist button{
	border-radius: 1rem;
    background-color: bisque;
    color: cadetblue;
}
.
#error{
	margin-top: 20px;
}
input:focus{
	outline: none;
}
